.App {
	text-align: center;
}
/* Blue: #20948B, Orange: #DE7A22, Sand: #F4CC70, Green: #6AB187 */
.App-logo {
	height: 50px;
	filter: invert(100%);
}

.App-header {
	background-color: #20948b;
	height: 50px;
	padding: 20px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.App-title {
	font-size: 2em;
	margin: 0 0 0 10px;
}

.App-intro {
	font-size: large;
}

.App-body {
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: center;
	color: #444444;
}

.box {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
	padding: 5px;
}
.plot-box {
	min-width: 300px;
	max-width: 800px;
}
.plot-title {
	position: relative;
	margin-bottom: -2rem;
}
.input-box {
	max-height: 10rem;
	min-width: 300px;
	max-width: 450px;
}
.func-input {
	display: inline;
}

.axis-input {
	width: 4rem;
	margin: 10px;
}

.subtext {
	font-size: 0.8rem;
	margin: -7px;
	color: grey;
}
.error-text {
	font-size: 0.7rem;
	margin: 0;
	color: red;
}
h4 {
	margin: 10px;
}
.hidden-submit {
	width: 0;
	height: 0;
	border: none;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
